<!DOCTYPE html>
<html>
  <head>
    <title>NBA Model</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  
  <style>
</style>

<style type="text/css"></style>

  </head>

  <body>

	<div class="header-cont">
		<br>
	    <div> 
	    	<table width="100%">
	    		<thead>
	    			<th width="20%"><a href="/players">Players</a></th>
	    			<th width="20%"><a href="/player_pool">PlayerPool</a></th>
	    			<th width="20%"><a href="/lineups">Lineups</a></th>
	    			<th width="20%"><a href="/player_games">Player Games</a></th>
	    			<th width="20%"><a href="/debug">Debug</a></th>
	    		</thead>
	    	</table>
	    </div>
	    <br>
	</div>
	 
	<div><br><br><br></div>

    <%= yield %>
  </body>
</html>
